:root {
    --primary-color: 6c584c;
    --secondary-color: a98467;
    --accent1-color: adc178;
    --accent2-color: dde5b6 
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.hero {
    padding: 10px;
}
.hero img {
    display: block;
    max-width: 100%;
    height: auto;
}
.hero h1 {
    font-size: 36px;
    margin: 20px 0;
    color: white;
    position: absolute;
}
.hero article {
    margin-top: 5px;
}
.hero article img {
    max-width: 100%;
    height: auto;
}
.hero article p {
    font-size: 18px;
    color: #000;
}
.history {
    padding: 10px;
}
.history h2 {
    font-size: 30px;
    color: #003366;
}
.history p {
    font-size: 18px;
    color: #000;
}
section h2 {
    font-size: 30px;
    color: #003366;
    
}
section img {
    margin: 10px;
    max-width: 100%;
    height: auto;
}
footer {
  
    color: #000
    padding: 10px 20px;
}

footer p {
    margin: 10px 0;
}
nav a {
    text-decoration: none;
}
.sociallinks img {
    width: 30px;
    height: 30px;
}

    

    
    



