:root {
    --primary-color: 6c584c;
    --secondary-color: a98467;
    --accent1-color: 1dc178;
    --accent2-color: dde5b6;
    --font-family1: Poppins-regular, serif;
    --font-family2: poppins-bold,serif;
}
body{
    font-size: 20px;
    font-family: Poppins-regular, serif;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    font-family: var(--font-family1);
    font-weight: 700;
    color: white;
    position: absolute;    
}
article p {
    font-family: var(--font-family2);
    font-weight: 400;
    color: white;
    text-align: left;
    position: absolute;
}
article image{

}
h2 {
    position: absolute;
    top: 40px;
    left: 100px;
}
h2 {
    font-family: var(--font-family1);
    font-weight: 700;
    color: darkblue;
}
p {
    font-family: var(--font-family2);
    font-weight: 400;
    color: black;
    text-align: left;
}
a {
    text-decoration: none;
}

    
    



