:root {
    --primary-color: #173f67;
    --accent1-color: #ecf0f1;
    --accent2-color: #bdc3c7;
    --heading-color: #00008b;
    --font-color: #fff;
    --font-family1: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    --font-family2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
}

body {
    font-family: var(--font-family1)
    color: var(--accent1-color);
}

p {
    color: var(--primary-color);
}

header,
main,
footer {
    width: 100%;
    margin: 0 auto;
}

h1,
h2 {
    color: var(--primary-color);
    font-family: var(--font-family2);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* Class Selectors*/

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    display: block;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 20px;
    padding: 20px;
    font-size: 36px;
    text-align: center;
    background-color: var(--accent2-color);
    opacity: .9;
}

.hero article {
    position: absolute;
    bottom: 25px;
    right: 25px;
    opacity: .9;
    background-color: var(--accent2-color);
    border: 1px solid #000;
    padding: .65rem;
    overflow: auto;
    text-align: justify;
}

.hero article h2 {
    margin-left: 20px; 
}

.hero article p {
    color: var(--primary-color);
}

.hero article img {
    width: 250px;
    height: auto;
    float: right;
    margin-left: 1rem;
    border-radius: 10px;
    border: 2px solid #302f2f;
}

.article p {
    display: block;
    overflow: hidden;
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 700;
}

.h2 {
    background-color: var(--heading-color);
    color: var(--font-color);
    text-align: center;
    padding: 5px;
}