* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: darkblue;
    --padding: 1rem;
    --width: 150px;
    --height: auto;
}
body{
    font-size: 16px;
    font-family: Poppins, Arial, sans-serif;
}
nav {
    background-color: var(--background-color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--background-color);
    padding: .5rem ;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
img {
    width: var(--width);
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--padding);
}
main {
    max-width: 840px;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: var(--padding);
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}   
aside img{
    width: 200px;
    height: var(--height);
}
aside h2 {
    position: absolute;
    top: 40px;
    left: 100px;
main img{
    /* put the image wherever you want */ 
    float: right;
    width: var(--width);
    height: var(--height);
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}
p {
    margin: 1rem ;
}
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}
aside {
    width: 15em;
    text-align: left;
}
.ident {
    padding-left: 2rem;
}

