* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #00008b;
    --border: 1px solid black;

}

body {
    font-size: 16px;
    font-family: Noto, Arial, sans-serif;
}
 
nav {
    background-color: var(--color1);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

main h1 {
    color: var(--color1);
    padding: .5rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    margin: 0 0 1rem 1rem;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 1rem;
}

aside {
    position: relative;
    width: 20em;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    margin: 1rem;
    width: 200px;
    height: auto;
    border: 4px inset darkblue;
    box-shadow: 0 0 30px;
}

aside h2 {
    position: absolute;
    top: 60px;
    left: 65px;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #eee;
    color: #000;

}